// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2024 Johannes Truschnigg
// Author: Johannes Truschnigg <johannes@truschnigg.info>
// XXX This is a work in progress!
/dts-v1/;

#include "aspeed/aspeed-g5.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>
#include <dt-bindings/i2c/i2c.h>

/ {
        model = "Gigabyte MC12-LE0 OpenBMC";
        compatible = "gigabyte,mc12-le0-openbmc", "aspeed,ast2500";
        aliases {
                serial0 = &uart1;
                serial4 = &uart5;
                ethernet0 = &mac0;
                ethernet1 = &mac1;
        };
        chosen {
                stdout-path = &uart5;
                bootargs = "console=ttyS4,115200 earlycon";
        };

        memory@80000000 {
                device_type = "memory";
                reg = <0x80000000 0x20000000>;
        };

        leds {
                compatible = "gpio-leds";

                led-uid {
                        label = "led-rear-id";
                        gpios = <&gpio 49 GPIO_ACTIVE_LOW>;
                };
        };


        reserved-memory {
                #address-cells = <1>;
                #size-cells = <1>;
                ranges;

                video_engine_memory: jpegbuffer {
                        size = <0x02000000>;    /* 32M */
                        alignment = <0x01000000>;
                        compatible = "shared-dma-pool";
                        reusable;
                };
        };

        iio-hwmon {
                compatible = "iio-hwmon";
                io-channels = <&adc 0>, <&adc 1>, <&adc 2>,
                              <&adc 4>, <&adc 5>, <&adc 6>,
                              <&adc 8>, <&adc 12>, <&adc 13>;
        };

};

&fmc {
        status = "okay";
        flash@0 {
                status = "okay";
                m25p,fast-read;
                label = "bmc";
#include "aspeed/openbmc-flash-layout-64.dtsi"
        };
};

&spi1 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_spi1_default>;
        flash@0 {
                status = "okay";
                m25p,fast-read;
                label = "bios";
                spi-rx-bus-width = <4>;
                spi-tx-bus-width = <4>;
                spi-max-frequency = <133000000>;
        };
};

&lpc_snoop {
        status = "okay";
        snoop-ports = <0x80>;
};

&lpc_ctrl {
        status = "okay";
};

&uart1 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_txd1_default
                     &pinctrl_rxd1_default>;
};

&uart2 {
        status = "okay";
};

&uart3 {
        status = "okay";
};

&uart5 {
        status = "okay";
};

&kcs2 {
        status = "okay";
        aspeed,lpc-io-reg = <0xca8>;
};

&kcs3 {
        status = "okay";
        aspeed,lpc-io-reg = <0xca2>;
};

&gpio {
        status = "okay";
        gpio-line-names =
        /*A0-A7*/       "","","","","","","","",
        /*B0-B7*/       "","","","","","","","",
        /*C0-C7*/       "","","","","","","","",
        /*D0-D7*/       "button-power-n","control-power-n","button-reset-n","control-reset","","","","",
        /*E0-E7*/       "","","","","","","","",
        /*F0-F7*/       "","","","","","","","",
        /*G0-G7*/       "","led-rear-id","","","","","","",
        /*H0-H7*/       "","","","","","","","",
        /*I0-I7*/       "","","","","","","","",
        /*J0-J7*/       "","","","","","","","",
        /*K0-K7*/       "","","","","","","","",
        /*L0-L7*/       "","","","","","","","",
        /*M0-M7*/       "","","","","dummy-post-complete","","","",
        /*N0-N7*/       "","","","","","","","",
        /*O0-O7*/       "","","","","","","","",
        /*P0-P7*/       "","","","","","","","",
        /*Q0-Q7*/       "","","","","","","id-button","",
        /*R0-R7*/       "","","","spi-bios-hold-n","","","","",
        /*S0-S7*/       "","","","","","","","",
        /*T0-T7*/       "","","","","","","","",
        /*U0-U7*/       "","","","","","","","",
        /*V0-V7*/       "","","","","","","","",
        /*W0-W7*/       "","","","","","","","",
        /*X0-X7*/       "","","","","","","","",
        /*Y0-Y7*/       "","","","","","","","",
        /*Z0-Z7*/       "","input-power-good","","","","","","", // from AST2500 datasheet
        /*AA0-AA7*/     "","","","","","","","",
        /*AB0-AB7*/     "","","","","","","","",
        /*AC0-AC7*/     "","","","","","","","";
};

&mac0 { // NC-SI shared Intel 210
        status = "okay";

        phy-mode = "NC-SI";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_rmii1_default>;
        use-ncsi;
};

&mac1 { // RGMII RTL8211E
        status = "okay";
        phy-mode = "rgmii";

        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_mac2link_default &pinctrl_mdio2_default>;
};

&vhub {
        status = "okay";
};

&adc {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_adc0_default /* P12V_S5_SCALED P_12V */
                &pinctrl_adc1_default /* P5V_S0_SCALED P_5V */
                &pinctrl_adc2_default /* P3V3_S0_SCALED P_3V3 */
                &pinctrl_adc4_default /* A_VDDPS5 P_VDDCR */
                &pinctrl_adc5_default /* [[Some GPIO-related thingie?]] P_VBAT_SCALED P_VBAT */
                &pinctrl_adc6_default /* VCORE P_VDDCR_MC12 */
                &pinctrl_adc8_default /* P1V2_VDDQ_S3_S0 P_VDDQ */
                &pinctrl_adc12_default /* P3V3_S5 P_3V3 */
                &pinctrl_adc13_default>; /* A_VDD18S5 P_1V8 */
};

&video {
        status = "okay";
        memory-region = <&video_engine_memory>;
};

&i2c0 {
        status = "okay";
};

&i2c1 {
        status = "okay";
};

&i2c2 {
        status = "okay";
};

&i2c3 {
        status = "okay";
};

&i2c4 {
        status = "okay";

        i2c-switch@71 {
                compatible = "nxp,pca9545";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x71>;

                imux14: i2c@0 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;

                        lm75@4c {
                                compatible = "national,lm75", "ti,lm75";
                                reg = <0x4c>;
                        };

                        lm75@4d {
                                compatible = "national,lm75", "ti,lm75";
                                reg = <0x4d>;
                        };

                        lm75@4e {
                                compatible = "national,lm75", "ti,lm75";
                                reg = <0x4e>;
                        };

                        nct7802@28 {
                                compatible = "nuvoton,nct7802";
                                reg = <0x28>;
                        };
                };
        };
};

&i2c5 {
        status = "okay";
};

&i2c6 {
        status = "okay";
};

&i2c7 {
        status = "okay";
};

&i2c8 {
        status = "okay";
};

&i2c9 {
        status = "okay";
};

&i2c10 {
        status = "okay";
};

&i2c11 {
        status = "okay";
};

&i2c12 {
        status = "okay";
};

&i2c13 {
        status = "okay";
};

&pwm_tacho {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default
                     &pinctrl_pwm2_default &pinctrl_pwm3_default
                     &pinctrl_pwm4_default &pinctrl_pwm5_default
                     &pinctrl_pwm6_default &pinctrl_pwm7_default>;

        fan@0 { /* CPU FAN */
                reg = <0x00>;
                aspeed,fan-tach-ch = /bits/ 8 <0x00>;
        };

        fan@1 { /* SYS FAN1 */
                reg = <0x01>;
                aspeed,fan-tach-ch = /bits/ 8 <0x01>;
        };

        fan@2 { // this does not lead to any fan header on the board
                reg = <0x02>;
                aspeed,fan-tach-ch = /bits/ 8 <0x02>;
        };

        fan@3 { /* SYS_FAN2 */
                reg = <0x03>;
                aspeed,fan-tach-ch = /bits/ 8 <0x03>;
        };

        fan@4 { /* SYS_FAN4 */
                reg = <0x04>;
                aspeed,fan-tach-ch = /bits/ 8 <0x04>;
        };

        fan@5 { /* SYS_FAN3 */
                reg = <0x05>;
                aspeed,fan-tach-ch = /bits/ 8 <0x05>;
        };

        fan@6 { /* SYS_FAN5 */
                reg = <0x06>;
                aspeed,fan-tach-ch = /bits/ 8 <0x06>;
        };

        fan@7 { // this does not lead to any fan header on the board
                reg = <0x07>;
                aspeed,fan-tach-ch = /bits/ 8 <0x07>;
        };
};
