// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2018 Facebook Inc.
// Author: Vijay Khemka <vijaykhemka@fb.com>
/dts-v1/;

#include "aspeed/aspeed-g5.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>
#include <dt-bindings/i2c/i2c.h>

/ {
        model = "Gigabyte MC12-LE0 OpenBMC Linux";
        compatible = "aspeed,mc12-le0-bmc", "aspeed,ast2500";
        aliases {
                serial0 = &uart1;
                serial4 = &uart5;

        };
        chosen {
                stdout-path = &uart5;
                bootargs = "console=ttyS4,115200 earlycon";
        };

        memory@80000000 {
                reg = <0x80000000 0x20000000>;
        };

        leds {
                compatible = "gpio-leds";

                led-uid {
                        label = "UID_LED";
                        gpios = <&gpio 49 GPIO_ACTIVE_LOW>;
                };
        };


        reserved-memory {
                #address-cells = <1>;
                #size-cells = <1>;
                ranges;

                video_engine_memory: jpegbuffer {
                        size = <0x02000000>;    /* 32M */
                        alignment = <0x01000000>;
                        compatible = "shared-dma-pool";
                        reusable;
                };
        };

        iio-hwmon {
                compatible = "iio-hwmon";
                io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
                              <&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>;
        };

};

&fmc {
        status = "okay";
        flash@0 {
                status = "okay";
                m25p,fast-read;
                label = "bmc";
#include "aspeed/openbmc-flash-layout-64.dtsi"
        };
};

&spi1 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_spi1_default>;
        flash@0 {
                status = "okay";
                m25p,fast-read;
                label = "pnor";
        };
};

&lpc_snoop {
        status = "okay";
        snoop-ports = <0x80>;
};

&lpc_ctrl {
        // Enable lpc clock
        status = "okay";
};

&uart1 {
        // Host Console
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_txd1_default
                     &pinctrl_rxd1_default>;
};

&uart2 {
        // SoL Host Console
        status = "okay";
};

&uart3 {
        // SoL BMC Console
        status = "okay";
};

&uart5 {
        // BMC Console
        status = "okay";
};

&kcs2 {
        // BMC KCS channel 2
        status = "okay";
        aspeed,lpc-io-reg = <0xca8>;
};

&kcs3 {
        // BMC KCS channel 3
        status = "okay";
        aspeed,lpc-io-reg = <0xca2>;
};

&gpio {
        status = "okay";
        gpio-line-names =
        /*A0-A7*/       "","","","","","","","",
        /*B0-B7*/       "","","","","","","","",
        /*C0-C7*/       "","","","","","","","",
        /*D0-D7*/       "","","","","","","","",
        /*E0-E7*/       "","","","","","","","",
        /*F0-F7*/       "","","","","","","","",
        /*G0-G7*/       "","ID_LED_CHASSIS","","","","","","",
        /*H0-H7*/       "","","","","","","","",
        /*I0-I7*/       "","","","","","","","",
        /*J0-J7*/       "","","","","","","","",
        /*K0-K7*/       "","","","","","","","",
        /*L0-L7*/       "","","","","","","","",
        /*M0-M7*/       "","","","","","","","",
        /*N0-N7*/       "","","","","","","","",
        /*O0-O7*/       "","","","","","","","",
        /*P0-P7*/       "","","","","","","","",
        /*Q0-Q7*/       "","","","","","","ID_BUTTON","",
        /*R0-R7*/       "","","","","","","","",
        /*S0-S7*/       "","","","","","","","",
        /*T0-T7*/       "","","","","","","","",
        /*U0-U7*/       "","","","","","","","",
        /*V0-V7*/       "","","","","","","","",
        /*W0-W7*/       "","","","","","","","",
        /*X0-X7*/       "","","","","","","","",
        /*Y0-Y7*/       "","","","","","","","",
        /*Z0-Z7*/       "","","","","","","","",
        /*AA0-AA7*/     "","","","","","","","",
        /*AB0-AB7*/     "","","","","","","","",
        /*AC0-AC7*/     "","","","","","","","";
};

&mac0 {
        status = "okay";

        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_rmii1_default>;
        clocks = <&syscon ASPEED_CLK_GATE_MAC1CLK>,
                 <&syscon ASPEED_CLK_MAC1RCLK>;
        clock-names = "MACCLK", "RCLK";
        use-ncsi;
};

&mac1 {
        status = "okay";

        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_rgmii2_default &pinctrl_mdio2_default>;
};

&vhub {
        status = "okay";
};

&adc {
        status = "okay";
};

&video {
        status = "okay";
        memory-region = <&video_engine_memory>;
};

&i2c0 {
        status = "okay";
        //Airmax Conn B, CPU0 PIROM, CPU1 PIROM
};

&i2c1 {
        status = "okay";

};

&i2c2 {
        status = "okay";
        // Mezz Management SMBus
};

&i2c3 {
        status = "okay";
        // SMBus to Board ID EEPROM
};

&i2c4 {
        status = "okay";

        i2c-switch@71 {
                compatible = "nxp,pca9545";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0xe2>;

                imux16: i2c@0 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <1>;

                        tmp421@98 {
                                compatible = "ti,tmp75";
                                reg = <0x98>;
                        };

                        tmp421@9A {
                                compatible = "ti,tmp75";
                                reg = <0x9A>;
                        };

                        tmp421@9C {
                                compatible = "ti,tmp75";
                                reg = <0x9C>;
                        };

                        tmp421@50 {
                                compatible = "ti,tmp75";
                                reg = <0x50>;
                        };


                };

        };
};

&i2c5 {
        status = "okay";
        // CPU Voltage regulators
        regulator@48 {
                compatible = "infineon,pxe1610";
                reg = <0x48>;
        };
        regulator@4a {
                compatible = "infineon,pxe1610";
                reg = <0x4a>;
        };
        regulator@50 {
                compatible = "infineon,pxe1610";
                reg = <0x50>;
        };
        regulator@52 {
                compatible = "infineon,pxe1610";
                reg = <0x52>;
        };
        regulator@58 {
                compatible = "infineon,pxe1610";
                reg = <0x58>;
        };
        regulator@5a {
                compatible = "infineon,pxe1610";
                reg = <0x5a>;
        };
        regulator@68 {
                compatible = "infineon,pxe1610";
                reg = <0x68>;
        };
        regulator@70 {
                compatible = "infineon,pxe1610";
                reg = <0x70>;
        };
        regulator@72 {
                compatible = "infineon,pxe1610";
                reg = <0x72>;
        };
};

&i2c6 {
        status = "okay";
        tpm@20 {
                compatible = "infineon,slb9645tt";
                reg = <0x20>;
        };
        tmp421@4e {
                compatible = "ti,tmp421";
                reg = <0x4e>;
        };
        tmp421@4f {
                compatible = "ti,tmp421";
                reg = <0x4f>;
        };
        eeprom@54 {
                compatible = "atmel,24c64";
                reg = <0x54>;
                pagesize = <32>;
        };
};

&i2c7 {
        status = "okay";
        //HSC, AirMax Conn A
        adm1278@45 {
                compatible = "adm1275";
                reg = <0x45>;
                shunt-resistor-micro-ohms = <250>;
        };
};

&i2c8 {
        status = "okay";
        tmp421@1f {
                compatible = "ti,tmp421";
                reg = <0x1f>;
        };
        //Mezz Sensor SMBus
};

&i2c9 {
        status = "okay";
        //USB Debug Connector
        ipmb0@10 {
                compatible = "ipmb-dev";
                reg = <(0x10 | I2C_OWN_SLAVE_ADDRESS)>;
                i2c-protocol;
        };
};

&pwm_tacho {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default
		     &pinctrl_pwm2_default &pinctrl_pwm3_default
		     &pinctrl_pwm4_default &pinctrl_pwm5_default
		     &pinctrl_pwm6_default &pinctrl_pwm7_default>;

        fan@0 { /* CPU FAN, confirmed working */
                reg = <0x00>;
                aspeed,fan-tach-ch = /bits/ 8 <0x00>;
        };

        fan@1 { /* SYS FAN1, confirmed working */
                reg = <0x01>;
                aspeed,fan-tach-ch = /bits/ 8 <0x01>;
        };

        fan@2 { // this does not lead to any fan header on the board
                reg = <0x02>;
                aspeed,fan-tach-ch = /bits/ 8 <0x02>;
        };

        fan@3 { /* SYS_FAN2, confirmed working */
                reg = <0x03>;
                aspeed,fan-tach-ch = /bits/ 8 <0x03>;
        };

        fan@4 { /* SYS_FAN4, confirmed working */
                reg = <0x04>;
                aspeed,fan-tach-ch = /bits/ 8 <0x04>;
        };

        fan@5 { /* SYS_FAN3, confirmed working */
                reg = <0x05>;
                aspeed,fan-tach-ch = /bits/ 8 <0x05>;
        };

        fan@6 { /* SYS_FAN5, confirmed working */
                reg = <0x06>;
                aspeed,fan-tach-ch = /bits/ 8 <0x06>;
        };

        fan@7 { // this does not lead to any fan header on the board
                reg = <0x07>;
                aspeed,fan-tach-ch = /bits/ 8 <0x07>;
        };
};
